<section class="mt-5">
    <div class="container-fluid my-5">
        <div class="alert alert-danger text-center">
            <h4>Your payment for the {{order.totalItems}} items order has been failed!</h4>
            <p><a href="/order/{{order._id}}" class="link-primary">Go to your order details</a></p>
        </div>
    </div>
</section>