<section class="mt-5">
    <div class="container-fluid my-5">
        <div class="alert alert-success text-center">
            <h4>Order for the {{order.totalItems}} items has been successfully placed</h4>
            <p><a href="/order/{{order._id}}" class="link-primary">Go to your order details</a></p>
        </div>
    </div>
</section>